* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565A;
}

form {
  display:block;
  position: relative;
}

form:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);

}

form .form-iner {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;
}

form .form-iner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500px;
  margin-bottom: 30px;
}

form .form-iner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-iner .form-group label {
  display: block;
  color:#666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}
.form-iner .form-group:focus-within label{
  color: #FE4880;
  
}

form .form-iner .form-group input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
  
}

form .form-iner .form-group input:focus{
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

form .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover{
  background-position: 100% 0%;
}
